.ms-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 30px;

  @include responsive('xl') {
    column-gap: 16px;
    row-gap: 24px;
  }
  @include responsive('xmd') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include responsive('sm') {
    grid-template-columns: 1fr;
  }
}

.ms-blog-item .img {
  flex-shrink: 0;
  max-width: 424px;
  max-height: 281px;
  @include responsive('sm') {
    max-width: 100%;
    max-height: 100%;
  }
}

.ms-blog-item .img {
  a {
    display: grid;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.ms-blog-item .content {
  /* Drop */
  box-shadow: 0px 15px 40px 13px rgba(0, 0, 0, 0.07);
  border-right: 1px solid #2c2d43;
  border-bottom: 1px solid #2c2d43;
  border-left: 1px solid #2c2d43;
  border-radius: 0px 0px 12px 12px;
  background: var(
    --Radial-2,
    radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%)
  );
  padding: 30px;

  @include responsive('lg') {
    padding: 16px;
  }
}
.ms-blog-item .content .u-times {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--White, var(--white-stroke, #fff));
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  font-family: Inter;
}
.ms-blog-item .content .u-times .u-icon-box {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--White, #fff);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  font-family: Inter;

  @include responsive('lg') {
    font-size: 14px;
  }
}
.ms-blog-item .content .u-times .icon {
  color: #fff;
  font-size: 22px;

  @include responsive('lg') {
    font-size: 16px;
  }
}

.ms-blog-item .content .title {
  display: inline-block;
  transition: 0.3s ease-in-out;
  margin-bottom: 12px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  font-family: Sora;

  @include responsive('lg') {
    font-size: 16px;
    line-height: 24px;
  }
}
.ms-blog-item .content .title:hover {
  background: var(--s, linear-gradient(88deg, rgba(9, 14, 219, 0.66) -15.78%, rgba(231, 61, 196, 0.66) 102.06%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ms-blog-item .content .desc {
  margin-bottom: 10px;
  color: var(--Text-Color, #cecfd3);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px; /* 128.571% */
  font-family: Inter;

  @include responsive('lg') {
    font-size: 12px;
    line-height: 16px;
  }
}
.ms-blog-item .content .link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--White, var(--white-stroke, #fff));
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  font-family: Sora;

  @include responsive('lg') {
    font-size: 14px;
  }

  &:hover {
    background: #4349ff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .icon-right {
      color: #4349ff;
    }
  }
}
.ms-blog-item .content .icon-right {
  font-size: 16px;

  @include responsive('lg') {
    font-size: 12px;
  }
}
