.ms-footer {
  padding: 40px;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--basic--stroke, rgba(255, 255, 255, 0.1));
    padding-bottom: 12px;
  }
  &-logo {
    width: 93px;
    height: 93px;

    @include responsive('lg') {
      flex-shrink: 0;
      width: 60px;
      height: 60px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    gap: 96px;

    @include responsive('xl') {
      gap: 40px;
    }

    @include responsive('lg') {
      column-gap: 10px;
      row-gap: 0px;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .item {
      color: #cac6dd;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px; /* 166.667% */
      font-family: Sora;
      letter-spacing: 0.42px;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        color: #e73dc4;
      }

      @include responsive('lg') {
        font-size: 10px;
      }
    }
  }

  &-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;

    @include responsive('lg') {
      padding-top: 8px;
    }

    @include responsive('sm') {
      flex-direction: column;
      gap: 8px;
    }
    .copyright {
      color: #cac6dd;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px; /* 142.857% */

      /* Caption/Caption */
      font-family: Sora;

      @include responsive('lg') {
        font-size: 12px;
      }
    }
  }
}
