.ms-main-frontend {
  padding-top: 160px;

  @include responsive('lg') {
    padding-top: 150px;
  }

  @include responsive('md') {
    padding-top: 140px;
  }

  @include responsive('sm') {
    padding-top: 120px;
  }
}

.msxis-nav {
  position: relative;
  top: 0;
  transition:
    top 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.msxis-nav.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;

  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--Grays-Black, #000);
  background: #080921bd;

  width: 100%;
  .ms-nav {
  }
}

.ms-nav {
  display: flex;
  position: relative;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  // backdrop-filter: blur(12.350000381469727px);
  margin: 0 auto;
  // border: 1px solid #1f2035;
  border-radius: 20px;
  // background: rgba(2, 4, 26, 0.06);
  padding: 13px 20px;
  max-width: 1440px;
  height: 92px;
  font-family: Inter;

  @include responsive('lg') {
    padding: 10px 10px;
    height: 72px;
  }
  &-logo {
    .logo {
      img {
        width: 66px;
        height: 66px;

        @include responsive('lg') {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.ms-nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;

  @include responsive('xl') {
    gap: 50px;
  }

  @include responsive('lg') {
    display: none;
  }
}

.ms-nav-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include responsive('lg') {
    display: none;
  }
}
.ms-nav-actions .ms-in {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--common-color, #e73dc4);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;

  @include responsive('xl') {
    font-size: 15px;
  }
}

.ms-nav-link {
  display: flex;
  justify-content: center;
  color: var(--common-color, #cad1e9);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  font-family: Inter;
  font-feature-settings: 'dlig' on;

  @include responsive('xl') {
    font-size: 13px;
  }
}

.ms-nav-link.active {
  color: #e73dc4;
}

.ms-mobile {
  display: none;
  @include responsive('lg') {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.ms-drawer-mobile {
  display: none;
  background: #080921 !important;
  max-width: calc(100vw - 70px) !important;
  @include responsive('lg') {
    display: block;
  }

  .mobile-drawer-header {
    .logo {
      text-align: center;
      img {
        width: 100px;
        height: 100px;
      }
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      flex-shrink: 0;
    }
  }
  .mobile-drawer-body {
    .ms-nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
      margin-top: 50px;
    }

    .ms-nav-actions {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
  }
}
